spring.application.name=taskmanagement

spring.datasource.url=url_here
spring.datasource.username=username_here
spring.datasource.password=password_here

spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
